




.maincontent{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-image: url('../Images/background.png'); */
    /* border: 2px solid red; */
    background-image: url("../Images/background.png");
    background-size: cover;
    height: 100vh;
}

.welcome{
    position: relative;
    left: 0;
    transition: all 5s ease-in-out;
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example{
    50%{
        left: 720px;
    }
    100%{
        left: 1440px;
        display: none;
    }
}
.maincontent .item{
    
    padding: 2rem;
    text-align: center;
    /* border: 2px solid yellow; */
    font-family: 'Poppins', sans-serif;
}
.maincontent .item h2,span{
    
    margin-bottom: 1rem;
     
}
.maincontent .item span{
    background-color: #0988a8;
    padding: 0 1rem;
    border-radius: 0.5rem;
}
.maincontent .item a{

    background-color: #0988a8;
    text-decoration: none;
    font-size: 2rem;
    padding: 0 1rem;
    color: #fff;
    border-radius: 0.4rem;
}
.maincontent .item a:hover{

    background:rgba(0, 0, 0, 0.5);
    border: 0.1rem solid #fff;
}



.typewriter h1 {
    color: #0988a8;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }